extends _layout.jade
block main
    main.content
        .banner.banner_home
            .container
                h1.banner__description Stay at home
        article.description.description_home
            .container
                h2.title.title_description Description
                .description__wrapper
                    .description__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                        p Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada felis quis, ultricies convallis neque. Pellentesque tristique fringilla tempus. Vivamus bibendum nibh in dolor pharetra, a euismod nulla dignissim. Aenean viverra tincidunt nibh, in imperdiet nunc. Suspendisse eu ante pretium, consectetur leo at, congue quam.
                        a.description__link.description__link_air(href='')
                            i.description__ico.description__ico_air
                            | Check our page on airbnb
                    ul.description__list
                        - var items = ['clock', 'wi-fi', 'cup', 'calendar']
                        - var text = ['Arrival hour', 'Wi-Fi', 'Breakfast included', 'check free dates on airbnb']
                        each item, i in items
                            li.description__list-item
                                i.description__ico(class='description__ico_#{item}')
                                | #{text[i]}
        article.photos.photos_home
            .container
                h2.title Photos of happy students
                .photos__wrapper
                    - for(var i = 8; i <= 14; i++)
                        if(i == 11)
                            .photos__col
                                img.photos__img(src='img/photos/photo-#{i}.jpg', alt="Happy students")
                                img.photos__img(src='img/photos/photo-#{i + 1}.jpg', alt="Happy students")
                        else if (i != 12)
                            img.photos__img(src='img/photos/photo-#{i}.jpg', alt="Happy students")
        article.application.application_home
            .container
                .application__description
                    h2.application__title Want to stay?
                    |#{' '}
                    a.button.button_yellow.button_big(href='', data-popup-show) Yes