extends _layout.jade
block main
    main.content
        .banner.banner_students
            .container
                h1.banner__description Your future is waiting at Academic Adventures USA
        article.info
            .container
                ul.info__list
                    - var images = ['tours', 'courses', 'home']
                    - var titles = ['Academics tours', 'English courses', 'Stay at home']
                    - var text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. justo commodo.'
                    each image, i in images
                        li.info__list-item
                            i.ico.info__ico(class="info__ico_#{image}")
                            .info__title #{titles[i]}
                            .info__text #{text}
                            a.button.button_blue(href='') More
        article.photos
            .container
                h2.title Photos of happy students
                ul.photos__list
                    - for(var i = 1; i <= 7; i++)
                        - var mod = i == 2 ? '_bw' : i == 5 ? '_bh' : i == 6 ? '_bh photos__list-item_bw' : '';
                        li.photos__list-item(class='' + (mod ? 'photos__list-item' + mod : '') )
                            a.photos__link(href="img/photos/big/photo-#{i}.jpg", rel='gallery')
                                img.photos__img(src='img/photos/photo-#{i}.jpg', alt="Happy students")
        article.work
            .container
                h2.title.title_work.title_white How it works
                ul.work__list
                    - var elements = ['post', 'chat', 'purse', 'plane']
                    - var text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    each element in elements
                        li.work__list-item
                            i.ico.work__ico(class="work__ico_#{element}")
                            .work__text #{text}
        article.rewiews
            .container
                h2.title.title_rewiews Rewiews
                .rewiews__message-wrapper
                    .rewiews__message Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                .rewiews__wrapper
                    .rewiews__avatar-wrapper
                        img.rewiews__avatar(src="img/avatars/avatar.jpg", alt="avatar")
                    .rewiews__info Name Surname, Country
        article.application
            .container
                .application__description
                    h2.application__title Want to participate?
                    a.button.button_yellow.button_big(href='', data-popup-show) Yes